@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

*{
    box-sizing: border-box;
}
::selection{
    background: #00d2ff;
}
html{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body::before{
    position: fixed;
    z-index: 1;
    top: 0;
    display: block;
    content: "";
    width: 100%;
    height: 10px;
    background: #00d2ff;
    background: -webkit-gradient(linear,left top,right top,from(#3a7bd5),to(#00d2ff));
    background: linear-gradient(90deg,#3a7bd5,#00d2ff);
}
body{
    margin: 0;
    display: block;
    font-size: 16px;
    word-break: keep-all;
    font-family: Spoqa Han Sans,sans-serif;
    letter-spacing: -.3px;
    color: #222;
    padding-bottom: 2rem;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container{
    width: 100%;
    max-width: 50rem;
    margin: auto;
}
section{
    padding: 0 2rem;
}
:-webkit-any(article, aside, nav, section) h1{
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
h1{
    font-size: 5rem;
    line-height: 1.1;
    margin: 0.67em 0;
    font-weight: bold;
}
.period-mark{
    color: #3a7bd5;
}
.big-paragraph{
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 500;
}
p{
    margin: 0 0 1rem;
}
